{% extends 'base.html.twig' %}

{% block title %}Detail Plat{% endblock %}

{% block body %}
    <h1>Votre Panier</h1>

    {% if plats | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <td>Plat</td>
                    <td>Prix</td>
                    <td>Quatité</td>
                    <td>Total</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for plat in plats %}
                    <tr>
                        <td>{{ plat.product.libelle }}</td>
                        <td>{{ plat.product.prix }}€</td>
                        <td>{{ plat.quantity }}</td>
                        <td>{{ plat.product.prix * plat.quantity }}€</td>
                        <td>
                            <a href='{{ path('addPanier', {'id': plat.product.id}) }}' class="btn btn-success btn-sm">
                                +
                            </a>
                            <a href='{{ path('deductPanier', {'id': plat.product.id}) }}' class="btn btn-danger btn-sm">
                                -
                            </a>
                            <a href='{{ path('removePanier', {'id': plat.product.id}) }}' class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">Total :</td>
                    <td>{{ total }}€</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <a class="btn btn-success" href="{{ path('plat') }}">Finalisé mes achats</a>
        <a class="text-dark" href="{{ path('plat') }}">Continué mes achats</a>
    {% else %}
        <p>Votre panier est vide.</p>
        <a class="btn btn-success" href="{{ path('plat') }}">Retour au plats</a>
    {% endif %}
{% endblock %}