{% extends 'base.html.twig' %}

{% block title %}Detail Plat{% endblock %}

{% block body %}
<div id="fond_plat">
    {% for plat in plats %}
        <h2 class="titre_categorie_plat">Detail {{ plat.libelle }}</h2>
        <div id="plat">
            <div>
                <table class="table_plat card_plat">
                    <thead>
                        <tr>
                            <td><img class="image_plat card_plat" src="{{ asset('assets/img/images_the_district/food/') ~ plat.image }}" alt="nourriture"></td>
                        </tr>
                        <tr class="libelle_plat">
                            <td>{{ plat.libelle }}</td>
                        </tr>
                    </thead>
                    <tbody class="plat_description">
                        <tr>
                            <td class="desc_plat">{{ plat.description }}</td>  
                            <tr class="plat_prix_icon">
                                <td><i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffc453;"></i></td>
                                <td class="prix_plat"><a href="{{ path('addPanier', {'id' : plat.id}) }}">Ajouter au Panier</a></td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}